body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #777777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h3,
p {
  margin-bottom: 2%
}

h1,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #4aaaa5;
}

h1 {

  margin-top: 0;
  padding-bottom: 2%;
  font-size: 150%;
  line-height: 2;
  border-bottom: 3px solid #dddddd;
}


h3 {
  font-size: 120%;
}

/* header */

#mainhead {
  width: 100%;
  margin: 0;
  margin-bottom: 2%;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#myName {
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 170%;
  font-weight: bold;
  line-height: 3.2;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

#myName:hover{
  background-color: #777777;
}

nav {
  float: right;
  margin-top: 30px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 1.3;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

nav a:hover {
  color: #4aaaa5;
}

/* main */

#main-container {
  min-height: calc(100vh - 70px);
}

.main-section {
  width: 100%;
  padding: 3%;
  margin: 0;
  margin-bottom: 20%;
  background: #ffffff;
  border: 1px solid #dddddd;
  overflow: auto;
}

/* my pic */

.myPic {
  float: left;
  width: 25%;
  margin: 10px 25px 10px 0;
}

/* footer */

footer {
  padding: 0;
  padding-top: 2%;
  padding-bottom: 3%;
  clear: both;
  font-size: 75%;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* portfolio page */

.imgbox {
  position: relative;
  float: left;
  width: 35%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 0;
  margin-right: 4%;
  overflow: auto;
}
.imgbox a {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
  text-decoration: none;
}

.imgbox a:hover {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.imgbox a:active {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
}
.imgbox img {
  width: 100%;
  border: 0 none;
}

.imgbox h3 {
    position: absolute;
    bottom: 8%;
    width: 100%;
    padding: 3%;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

/* contact page */

#contact-form ul, li {
  margin-bottom: 2%;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 90%;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 20px;
  font-size: 100%;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/*media queries*/

/*lg screen*/
@media screen and (max-width: 980px){

.container {
  max-width: 768px; 
}
.myPic { 
width: 25%;
}
}

/*md screen*/
@media screen and (max-width: 768px){
  
  .container { 
  max-width: 640px; 
}
  .myPic {
  width: 35%;
}
  .imgbox {
    width: 40%;
  } 
}

/*sm screen*/
@media screen and (max-width: 640px){

  #main-container {
    max-width: 580px;
  }
  .myPic {
    width: 100%;
    margin-top: 2%;
    margin-right: 0;
}
  #myName {
    width: 100%;
    display: inline-block;
}
  nav {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 0;
}

.imgbox {
    width: 100%;
    margin-top: 3%;
    margin-right: 0;
}

.imgbox h3 {
    bottom: 7%;
    width: 100%;
    padding: 3%;
    margin-top: 0;
}
}
